.pageName {
    margin-top: 30px;
    margin-bottom: 30px;
}
.projectElement{
    border-color: rgb(217, 217, 217);
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
}
.projectElementCard{
    margin-right: 10px;
    width: auto;
    margin-bottom: 10px;
}
.projectNameSmall:hover{
    text-decoration: underline;
}
.projectNameSmall{
    margin-top: 10px;
    font-weight: 500;
    font-size: x-large;
    width:fit-content;
    color: rgb(0, 95, 211);
}
.tasksLinksNumText{
    font-weight: 400;
}
.doNotHave{
    margin-top: 10px;
    font-weight: 400;
}
.tasksLinksNameText{
    font-weight: lighter;
}
.taskElement{
    width: auto;
    margin-top: 10px;
}
.div-row{
    display: inline-block;
}
.linkElement{
    margin-right: 10px;
    margin-top: 10px;
    color:rgb(73, 73, 73);
    border-width: 1px;
    border-color: rgb(94, 94, 94);
}
.addForm{
    background-color: #f0f0f0;
    width: auto;
    border-radius: 5px;
    margin: auto;
}
.inFormElements{
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
}
.loadingSpinner{
    width: 60px;
    height:60px;
    margin-left: auto;
    margin-right:auto;
    display:block;
    margin-top: 40px;
}
.errorFormText{
    color: red;
    font-size: 15px;
}
.contributorElement{
    margin-right: 10px;
    margin-bottom: 10px;
    border-color: rgb(94, 94, 94);
    border-width: 1px;
    color: rgb(73, 73, 73);
}
.accountBaseImg{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 2px;
}
.navbarAvatar{
    width: 30px;
    height: 30px;
    margin-top:4px;
    margin-right: -2px;
}
.accountImgView{
    width: 300px;
    height: 300px;
    margin-bottom: 5px;
    border-radius: 50%;
}
.userName{
    font-size: 22px;
    text-align: left;
    font-weight: lighter;
    margin-top: 10px;
    color: rgb(48, 48, 48);
    margin-bottom: 3px
}
.accountView{
    margin-top: 20px;
}
.plusIcon{
    width: 22px;
    height: 22px;
    margin-top:8px;
    margin-right: -6px;
}
.smallTextAccount{
    font-size: 15px;
    text-align: left;
    font-weight: lighter;
    color: rgb(48, 48, 48);
}
.withBottomDivider{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(161, 161, 161);
}